@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Almarai', sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #4285F4, #6A3DE8);
}

.wrapper {
  width: 500px;
  background: #fff;
  border-radius: 7px;
  padding: 20px 25px 15px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

header h1 {
  font-size: 27px;
  font-weight: 500;
}

header p {
  margin-top: 5px;
  font-size: 18px;
  color: #474747;
}

form {
  margin: 20px 0 27px;
}

input {
  width: 100%;
  height: 60px;
  outline: none;
  padding: 0 17px;
  font-size: 19px;
  border-radius: 5px;
  border: 1px solid #b3b2b2;
  transition: 0.1s ease;
}

input::placeholder {
  color: #b3b2b2;
}
input:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

button {
  width: 100%;
  border: none;
  opacity: 0.7;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  margin-top: 20px;
  padding: 15px 0;
  border-radius: 5px;
  pointer-events: none;
  background: #4285F4;
  transition: opacity 0.15s ease;
}

input:valid~button {
  opacity: 1;
  pointer-events: auto;
}

/*a*/
* a {
  color: #4285F4;
  text-decoration: none;
  font-size: 1.1em;
}

* a:hover {
  color: #6A3DE8;
  text-decoration: none;
}

* a:first-of-type {
  color: #4285F4;
}

* a:first-of-type:hover {
  color: #6A3DE8;
}
